<a href="https://colab.research.google.com/github/SeanWallinger/DataScienceProject/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mental Health Detection



*   Sean Wallinger
*   Math 5364 Data Science 1
*   Tarleton State University
*   Spring 2023

DISCLAMER: This is NOT a diagnosis! These findings are based on common symptoms of mental issues. If you are concerned about your mental health seek professional medical help.

##Tasks

The task of this project To create a model that can aid in the early dectetion of serious mental issues using data from the data set.

##Background

For many years, Mental issues and Anxiety has effected people and caused many problems. The field of pycology has worked very hard to try to understand, identify sympotoms, and try to get patients the help they need before it is too late. But, identifing these big mental issues with simple symptoms is a very challenging task. Now the question can be asked, can past cases help future ones? Can past patterns and symptoms possibly help identify current patients who may not even know if they have an issue?

###Depression Anxiety Stress Scales (DASS)

The Psychology Foundation of Australia created the Depression Anxiety Stress Scales (DASS) and hosted the questionnaire on a public website in an effort to help educate the public on Depression, Anxiety, and Stress.

The DASS is comprised of 42 questions which are divided into three sets of 14 questions which are related to the topics of Depression, Anxiety, and Stress. These questions have four possible responses which relate to a possible score as seen below:

    Did not apply to me at all ---> 0
    Applied to me to some degree, or some of the time ---> 1
    Applied to me to a considerable degree, or a good part of time ---> 2
    Applied to me very much, or most of the time ---- 3

####Question Example

![demo1.png]()

###The Ten-Item Personality Test (TIPI)

To help get an idea of the personality of each entry, a Ten-Item Personality Test was administered and resposes where measured. The TIPT asks ten questions about a persons behavor and the User responds on a 7 point scale as show below:

![image.png]()

Two of the Ten questions relate to one of the big Five personality traits, the average of these finds a person's mesure in each of these personalities. The five big personalities are Openness, Conscientiousness, Extraversion, Agreeableness, and Neuroticism.

<img src = https://saylordotorg.github.io/text_principles-of-management-v1.1/section_06/2ca4a3e8a5ffc2a3ff954f79a1475071.jpg width = "575" height = "383" >

###Scoring Scales

The Score for the DASS 42 questionair is derived by summing up all the questions that relate to the relative topic. The total score is an indicator of the severity of the self reported symptoms that relate to mental issues.

####Scoring Scale of the DASS 42 Questions

![Screenshot 2023-03-01 124519.png]()

####Scoring of the TIPT

The score of the person's measure of the big five personalities are determined by finding the two answers that relate to the respective personality. Add one score to the reversed score of the other. The average of these two score is the metric of that person possessing such a personality trait.

###Goal

The Goal of this project is to Predict the severity of a person's Depression, Anxiety, and Stress Target Variables using personal information.

##Data

###[Psychology Foundation of Australia](http://www.psychologyfoundation.org.au/)

["The Psychology Foundation of Australia is a grouping of research-oriented schools of Psychology formed to defend rigorous academic and scientific standards in the teaching, research and training in the discipline of Psychology and its professional practice within Australia."](http://www.psychologyfoundation.org.au/)

####[Depression Anxiety Stress Scales Responses](https://www.kaggle.com/datasets/lucasgreenwell/depression-anxiety-stress-scales-responses?select=codebook.txt)

- Collected March 7th, 2023 via direct download of csv file.
- Data was collected with an on-line wersion of the Depression Anxiety Stress Scales (DASS).
- The survey was open to anyone and people were motivated to take it to get personalized results. At the end of the test they also were given the option to complete a short research survey. This datatset comes from those who agreed to complete the research survey and answered yes to the question "Have you given accurate answers and may they be used for research?" at the end.
- This data was collected 2017 - 2019.
- Important Features:
    - Q(number)A (int): The User's answer to question (number).
    - Country (str): ISO country code of where the user connected from.
    - TIPI(number) (int): Answer to Ten Item Personality inventory Question (number).
    - Education (int): The highest education level the User has completed.
    - Urban (int): The Type of area the User lived in as a child.
    - Gender (int): The Gender of the User.
    - Age (int): The Age of the User.
    - Hand (int): The hand that the User writes with.
    - Religon (int): What religon the User practices.
    - Orientation (int): The Sexual orientation of the User.
    - Race (int): The Race of the User.
    - Married (int): The Marital status of the User.
    - Family Size (int): The amount of childeren the User's mother had.

- [More Information on the DASS Questionnaire](http://www2.psy.unsw.edu.au/dass/)

###Data Wrangling

Here are the major data wrangling challenges and solutions.

1.   The Data set has entries from many international users randomly taken across the globe.

  *   The only rows grabbed from the data set stored in Google's BigQuery is the rows that have the 'US' string in the Country feature since it is easier to gain censis data to improve the model.
  *   An International look will be contemplated during the project.

2.   All of the answers from the Questionnaire (i.e. 'q1a', 'q2a', ect.) is stored alternatively to common computer science format.

  *   Shifted the threshold of the stored answers to match the standard range of zero to four.

3.   The Data set stores the ansers to each question in their own spearate column.

  *   Added all data from columns 'Q3A', 'Q5A', 'Q10A', 'Q13A', 'Q16A', 'Q17A', 'Q21A', 'Q24A', 'Q26A', 'Q31A', 'Q34A', 'Q37A', 'Q38A', and 'Q42A'. A new Feature column was created to store this score as the severty of the user's Depression. This Severty scal is as such: 0 for Normal (Score: 0-9), 1 for mild (score: 10-13), 2 for Moderate (Score: 14-20), 3 for Severe (score: 21-27), and 4 for Extremely Severe (Score: 28+). 

  *   Added all data from columns 'Q2A', 'Q4A', 'Q7A', 'Q9A', 'Q15A', 'Q19A', 'Q20A', 'Q23A', 'Q25A', 'Q28A', 'Q30A', 'Q36A', 'Q40A', and 'Q41A'. A new Feature column was created to store this score as the severty of the user's Anxiety. This Severty scal is as such: 0 for Normal (Score: 0-7), 1 for mild (score: 8-9), 2 for Moderate (Score: 10-14), 3 for Severe (score: 15-19), and 4 for Extremely Severe (Score: 20+).

  *   Added all data from columns 'Q1A', 'Q6A', 'Q8A', 'Q11A', 'Q12A', 'Q14A', 'Q18A', 'Q22A', 'Q27A', 'Q29A', 'Q32A', 'Q33A', 'Q35A', and 'Q39A'. A new Feature column was created to store this score as the severty of the user's Stress. This Severty scal is as such: 0 for Normal (Score: 0-14), 1 for mild (score: 15-18), 2 for Moderate (Score: 19-25), 3 for Severe (score: 26-33), and 4 for Extremely Severe (Score: 34+).

4.   The Data set also consists of the results from a Ten Item Personality Test that was administered with the online questionnaire. 

  *   Each entry relates to one of five categories. Each category has two questions associated with it, one for and one against. The against question's score is reversed (i.e. if the input is 2 then swap it to 6) and take the average of these two answers to get the category score.

5.   The dataset consists of alot of data with general categorical features.

  *   Took the Data stored in these catigorical features and created a new column for each catigory to make it binary.

#Code

In [1]:
! pip install -q 'git+https://github.com/drscook/helpers'
! pip install -q --upgrade pandas scikit-learn # pandas 2.0 just released on April 6

  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.1 MB/s eta 0:00:00
  Building wheel for helpers (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 74.2 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.5.3, but you have pandas 2.0.0 which is incompatible.

In [2]:
%reload_ext autotime
from helpers.common_imports import *
from helpers import utilities as ut
import pandas as pd
import numpy as np
import tensorflow as tf
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans, DBSCAN
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, BaggingClassifier, BaggingRegressor, HistGradientBoostingRegressor, HistGradientBoostingClassifier
from sklearn.svm import SVC, SVR
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report, ConfusionMatrixDisplay, confusion_matrix, RocCurveDisplay
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor, MLPClassifier
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import sparse_categorical_crossentropy

In [3]:
#Pull from Big Query.
bq = ut.BigQuery()
tbl = f"tarletondatascience2022.wallinger.Depression_Anxiety_Stress_Scales"
qry = f"""
select
    *
from
    {tbl}
where
    country = 'US'
"""

df = bq.qry_to_df(qry)

In [4]:
#Global Variables.
randnum = 500 #Setting a random number to get similar results.
Holdout_size = 0.3 #Sets the Holdout portion.
C = np.linspace(0.1,1,num=10) #Creates a Cost Varaible for the SVC Models.

#List Containing Class names for the verification of the Classification Models.
DepClassNames =  ['No Depression', 'Mild Depression', 'Moderate Depression', 'Severe Depression', 'Extremely Severe Depression']
AnxClassNames =  ['No Anxiety', 'Mild Anxiety', 'Moderate Anxiety', 'Severe Anxiety', 'Extremely Severe Anxiety']
StsClassNames =  ['No Stress', 'Mild Stress', 'Moderate Stress', 'Severe Stress', 'Extremely Severe Stress']

##Checking the Data

This dataset is fairly good right away. No missing values in all features and targets, Large row count, and besides some minor formatting issues. Only one typo was found but since this may effect the normalization range, I chaged to more likely input. Also found some outliers in the faimlysize but unsure if I would be removing too much variance.

In [5]:
#Fixes the age error.
WorngAge = 117
CorrectAge = 17
df.at[4741, 'age'] = CorrectAge

#Verifies that the fix is indeed in place.
print(df.loc[df['age'] == WorngAge, 'age'])

print(df.loc[df['familysize'] > 20, 'familysize'])

Series([], Name: age, dtype: Int64)
index
6765     62
8052    133
Name: familysize, dtype: Int64

In [6]:
ut.pprint(df)

,q1a,q1i,q1e,q2a,q2i,q2e,q3a,q3i,q3e,q4a,q4i,q4e,q5a,q5i,q5e,q6a,q6i,q6e,q7a,q7i,q7e,q8a,q8i,q8e,q9a,q9i,q9e,q10a,q10i,q10e,q11a,q11i,q11e,q12a,q12i,q12e,q13a,q13i,q13e,q14a,q14i,q14e,q15a,q15i,q15e,q16a,q16i,q16e,q17a,q17i,q17e,q18a,q18i,q18e,q19a,q19i,q19e,q20a,q20i,q20e,q21a,q21i,q21e,q22a,q22i,q22e,q23a,q23i,q23e,q24a,q24i,q24e,q25a,q25i,q25e,q26a,q26i,q26e,q27a,q27i,q27e,q28a,q28i,q28e,q29a,q29i,q29e,q30a,q30i,q30e,q31a,q31i,q31e,q32a,q32i,q32e,q33a,q33i,q33e,q34a,q34i,q34e,q35a,q35i,q35e,q36a,q36i,q36e,q37a,q37i,q37e,q38a,q38i,q38e,q39a,q39i,q39e,q40a,q40i,q40e,q41a,q41i,q41e,q42a,q42i,q42e,country,source,introelapse,testelapse,surveyelapse,tipi1,tipi2,tipi3,tipi4,tipi5,tipi6,tipi7,tipi8,tipi9,tipi10,vcl1,vcl2,vcl3,vcl4,vcl5,vcl6,vcl7,vcl8,vcl9,vcl10,vcl11,vcl12,vcl13,vcl14,vcl15,vcl16,education,urban,gender,engnat,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,1,18,6116,1,28,3193,2,2,12542,1,8,6150,3,40,6428,1,4,17001,1,33,2944,3,7,8626,3,14,9639,2,20,6175,1,34,6008,2,21,9267,1,41,5290,3,1,25694,2,9,7634,4,37,8513,2,25,9078,1,15,4381,1,23,6647,2,36,6250,1,39,3842,1,16,7876,1,27,3124,2,12,6836,1,31,12063,1,3,9264,1,35,3957,1,42,2537,3,17,10880,2,5,8462,2,32,5615,1,30,11412,4,6,5112,1,29,3070,3,10,13377,2,38,4506,2,24,17227,2,13,7844,1,26,20253,1,22,8528,1,11,4370,2,19,10310,US,2,4,349,213,2,1,6,1,7,7,7,2,6,7,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,1,2,3,2,2,20,2,1,1,4,1,70,2,1,4,<NA>
1,1,10,2901,1,1,9036,1,22,3775,1,34,2027,1,38,2714,1,3,3626,1,11,4496,1,27,3453,1,41,4619,1,21,2540,1,20,2946,1,6,3508,1,14,1727,1,31,4508,1,4,2490,1,5,3725,1,28,4826,1,17,2425,1,13,3002,1,23,2371,1,37,4058,1,25,2721,1,7,2511,1,33,2981,1,9,4554,1,18,1894,1,40,1541,1,12,3354,1,29,3129,1,24,5256,1,2,5345,1,36,3058,1,39,1690,1,30,1686,1,26,4135,1,42,1852,1,19,4181,1,15,1898,1,32,1389,1,35,4266,1,16,1534,1,8,3449,US,2,2,143,228,3,5,6,1,6,5,3,2,7,2,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,3,2,1,1,34,2,1,1,1,1,60,1,3,2,Biology and Philosophy dual major
2,3,5,6729,2,4,4793,2,20,3328,1,16,2199,3,22,2513,1,21,2220,1,13,2489,2,32,2570,1,8,5790,2,18,4348,1,1,5951,1,26,1973,1,11,2679,4,33,3425,1,23,1931,3,28,4472,1,24,1450,2,40,2006,1,25,3613,1,19,1166,1,15,3214,1,10,4843,1,27,1216,3,41,4086,2,37,5170,1,35,1703,2,9,2482,1,29,1741,1,14,2681,1,12,2779,3,38,2302,2,30,3895,1,36,1313,1,34,1426,4,31,3803,1,3,2430,1,39,2035,2,7,2754,3,6,2830,1,42,2357,1,17,3662,4,2,3372,US,2,73,128,89,2,7,7,1,6,5,4,7,6,2,1,1,1,1,1,0,0,0,0,1,0,0,1,1,1,1,2,1,1,1,19,2,1,3,2,1,60,2,1,1,Computer Science
3,1,9,2236,1,10,1437,2,7,2570,1,17,2188,1,27,3372,1,2,1975,1,6,1579,1,37,1736,1,26,11058,2,8,3389,1,38,2105,1,23,2218,1,19,1803,1,31,3058,2,29,4186,3,5,2184,1,11,3906,1,14,2010,1,35,3128,1,30,2375,2,42,1957,1,13,1567,1,24,1334,3,4,2903,1,25,2473,1,41,1397,1,20,2119,1,1,4983,1,15,3193,1,12,2454,1,18,6983,1,3,3281,1,40,2984,1,34,1676,1,22,5516,1,36,1483,2,33,3556,2,16,2299,2,32,2794,1,39,2537,1,28,1524,1,21,2944,US,0,42,121,171,3,3,5,1,5,5,5,5,6,5,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,2,3,2,1,16,1,1,1,1,5,70,2,1,3,<NA>
4,1,35,3404,2,28,10935,1,5,3593,1,13,5086,1,17,2810,1,10,3677,1,29,4919,1,6,3288,1,38,8824,1,31,5750,1,21,2475,1,37,2422,1,36,1638,1,24,15928,1,12,2770,1,26,4719,1,39,3639,1,32,1745,1,11,8400,1,23,2408,1,30,3548,1,42,4149,1,20,3043,1,41,3698,1,27,27429,1,15,2660,1,19,2621,1,22,2219,1,7,2827,1,4,4980,1,25,2623,1,2,11105,1,33,2245,1,18,5499,1,16,6972,1,9,1761,1,8,8120,1,1,6261,1,34,2259,1,3,3951,1,14,2576,1,40,11750,US,2,5,221,183,7,4,6,1,6,3,4,2,6,1,1,0,0,1,1,0,0,0,0,1,0,0,1,1,1,1,2,2,1,1,18,2,2,1,7,1,30,2,1,2,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8202,4,17,3069,4,6,3561,4,25,2200,3,21,3045,4,1,8671,4,30,2186,4,32,1527,4,4,2236,4,26,1265,4,20,2232,4,34,1676,4,40,1716,4,16,2553,4,39,1797,4,33,1585,4,23,3475,4,14,2722,4,18,1785,3,29,4253,4,11,2077,4,8,1918,4,15,1533,3,22,2939,4,37,2699,4,2,8376,4,10,1452,4,35,1325,4,9,3080,4,13,2771,4,31,2336,4,41,2938,4,19,3676,4,42,1717,4,24,1301,4,28,4973,4,12,1492,4,27,2865,4,7,1791,4,5,1858,4,3,6011,4,38,1735,4,36,2849,US,2,2,115,78,1,5,1,7,4,7,6,7,4,1,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,3,3,2,1,22,2,1,1,7,1,10,1,1,3,English
8203,3,30,3626,1,38,4161,2,27,2640,3,2,7369,4,12,2607,4,15,2122,4,19,2473,3,32,1538,4,37,4779,2,28,2741,4,13,2389,3,34,2690,4,18,1320,4,14,3376,3,5,1621,2,29,2038,4,40,2406,1,26,3810,3,9,3910,3,17,2106,3,41,3241,3,21,2975,2,25,1722,2,3,2456,2,6,3008,4,35,2506,2,22,2991,3,4,2173,4,8,2574,4,31,6601,2,23,2957,4,16,4044,4,7,2222,3,1,4782,3,11,6651,2,39,1604,3,33,3008,4,20,2206,3,24,2240,4,42,2424,4,36,2106,3,10,4078,US,0,50,128,144,2,5,6,7,5,5,5,4,1,4,1,1,1,1,1,0,0,0,0,1,0,0,1,1,1,1,1,3,3,1,18,2,1,1,2,4,70,2,1,2,<NA>
8204,4,16,2000,2,10,2055,4,22,2229,3,9,3527,4,6,1633,4,24,1032,2,21,3567,4,4,2608,4,31,2936,4,19,1848,4,12,2448,2,8,4936,4,3,1423,4,40,3063,4,33,1103,4,11,2240,4,27,1832,4,23,1383,2,37,3498,4,7,1760,4,34,1438,4,38,1422,2,15,2296,4,29,1289,4,32,2384,4,5,2207,4,14,1632,4,36,1544,4,20,2351,4,35,1824,4,1,5042,4,39,1528,4,26,1368,4,17,1344,4,41,1889,4,2,4773,4,30,2886,4,28,1592,4,42,1208,4,13,2679,4,25,1320,4,18,1920,US,1,4,120,221,3,6,6,7,2,6,4,2,2,1,1,1,1,1,1,0,0,0,0,1,1,0,1,1,1,1,4,2,2,1,46,2,1,1,4,1,60,1,2,6,Marketing
8205,4,38,2350,2,29,2316,4,20,2087,4,30,2614,4,19,1320,4,35,8479,4,36,1443,4,21,1320,4,8,2862,4,28,1488,4,1,12252,4,37,1481,4,10,1291,4,12,2200,4,33,3329,4,23,1575,4,18,1286,3,6,2491,2,34,3308,4,16,1336,4,13,1555,4,15,1270,1,2,3946,4,26,1604,4,27,6550,4,41,1244,4,39,1256,4,24,1223,4,40,1841,3,7,3922,4,31,2839,4,25,2615,4,42,1342,4,11,1194,2,9,5597,4,22,1214,4,4,1743,4,32,1833,4,14,1371,4,3,3110,4,5,3029,4,17,4222,US,2,22,116,86,2,4,1,7,2,4,2,6,1,5,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,1,1,3,2,1,14,2,1,1,1,5,60,2,1,3,<NA>
8206,3,32,28897,4,4,3025,2,30,3248,2,16,8048,2,8,3559,4,34,2219,4,5,4553,2,21,1890,1,36,4561,3,11,4071,3,23,2909,3,17,5179,4,14,2190,2,28,52923,1,41,2126,2,18,3341,2,24,3949,4,29,4455,3,2,19120,3,7,4429,1,39,3372,3,31,3409,1,9,2538,1,10,2541,4,35,8110,2,25,2701,4,6,2408,3,37,2909,4,42,4100,2,33,13153,2,13,19343,3,22,5189,3,27,3088,4,15,2900,2,12,23056,1,19,1677,2,1,15366,1,26,2718,4,40,4331,4,3,3769,2,20,4261,1,38,4709,US,2,2,300,234,6,5,4,5,6,3,5,2,5,7,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1,2,2,1,16,2,1,1,1,1,70,2,1,3,<NA>

##Preprocessing

Transforms the Target data into a usable form.

In [7]:
#Finds the Depression, Anxiety, and Stress score on each row and assigns a score.
Modeldf = pd.DataFrame()

DepressionTarg = ['q3a', 'q5a', 'q10a', 'q13a', 'q16a', 'q17a', 'q21a', 'q24a', 'q26a', 'q31a', 'q34a', 'q37a', 'q38a', 'q42a']
AnxietyTarg = ['q2a', 'q4a', 'q7a', 'q9a', 'q15a', 'q19a', 'q20a', 'q23a', 'q25a', 'q28a', 'q30a', 'q36a', 'q40a', 'q41a']
StressTarg = ['q1a', 'q6a', 'q8a', 'q11a', 'q12a', 'q14a', 'q18a', 'q22a', 'q27a', 'q29a', 'q32a', 'q33a', 'q35a', 'q39a']

features = []
targets = []

Depression = 0
Anxiety = 0
Stress = 0

#Decrements the saved answers by one due to incorrrect storing in the Dataframe.
for i in DepressionTarg:
  Depression = sum([Depression, (df[i]-1)])

for i in AnxietyTarg:
  Anxiety = sum([Anxiety, (df[i]-1)])

for i in StressTarg:
  Stress = sum([Stress, (df[i]-1)])

Modeldf['Depression_Score'] = Depression
Modeldf['Anxiety_Score'] = Anxiety
Modeldf['Stress_Score'] = Stress

targets = targets + ['Depression_Score', 'Anxiety_Score', 'Stress_Score']

Takes the catigorical features and breaks it up into multiple binary features.

In [8]:
#Breaks the eduction column into more binary columns.
Modeldf['No_Degree'] = 0
Modeldf['HighSchool'] = 0
Modeldf['University'] = 0
Modeldf['Graduate'] = 0

ELoc = df.columns.get_loc('education')

NDLoc = Modeldf.columns.get_loc('No_Degree')
HSLoc = Modeldf.columns.get_loc('HighSchool')
ULoc = Modeldf.columns.get_loc('University')
GLoc = Modeldf.columns.get_loc('Graduate')

for i in range(len(df)):
  if df.iat[i,ELoc] == 1:
    Modeldf.iat[i,NDLoc] = 1

  elif df.iat[i,ELoc] == 2:
    Modeldf.iat[i,HSLoc] = 1

  elif df.iat[i,ELoc] == 3:
    Modeldf.iat[i,ULoc] = 1

  elif df.iat[i,ELoc] == 4:
    Modeldf.iat[i,GLoc] = 1

features = features + ['No_Degree', 'HighSchool', 'University', 'Graduate']

In [9]:
#Breaks the urban column into more binary columns.
Modeldf['Rual'] = 0
Modeldf['Suburban'] = 0
Modeldf['Urban'] = 0

Urloc = df.columns.get_loc('urban')

RLoc = Modeldf.columns.get_loc('Rual')
SULoc = Modeldf.columns.get_loc('Suburban')
ULoc = Modeldf.columns.get_loc('Urban')


for i in range(len(df)):
  if df.iat[i,Urloc] == 1:
    Modeldf.iat[i,RLoc] = 1

  elif df.iat[i,Urloc] == 2:
    Modeldf.iat[i,SULoc] = 1

  elif df.iat[i,Urloc] == 3:
    Modeldf.iat[i,ULoc] = 1

features = features + ['Rual', 'Suburban', 'Urban']

In [10]:
#Breaks the gender column into more binary columns.
Modeldf['Male'] = 0
Modeldf['Female'] = 0
Modeldf['Other_Gender'] = 0

gloc = df.columns.get_loc('gender')

mLoc = Modeldf.columns.get_loc('Male')
fLoc = Modeldf.columns.get_loc('Female')
oLoc = Modeldf.columns.get_loc('Other_Gender')


for i in range(len(df)):
  if df.iat[i,gloc] == 1:
    Modeldf.iat[i,mLoc] = 1

  elif df.iat[i,gloc] == 2:
    Modeldf.iat[i,fLoc] = 1

  elif df.iat[i,gloc] == 3:
    Modeldf.iat[i,oLoc] = 1

features = features + ['Male', 'Female', 'Other_Gender']

In [11]:
#Normalizes the engnat column into more binary columns.
Modeldf['Engnat'] = 0

eloc = df.columns.get_loc('engnat')

newELoc = Modeldf.columns.get_loc('Engnat')


for i in range(len(df)):
  if df.iat[i,eloc] == 1:
    Modeldf.iat[i,newELoc] = 1

features = features + ['Engnat']

In [12]:
#Breaks the hand column into more binary columns.
Modeldf['Right_h'] = 0
Modeldf['Left_h'] = 0
Modeldf['Ambidextrous'] = 0

hloc = df.columns.get_loc('hand')

rLoc = Modeldf.columns.get_loc('Right_h')
lLoc = Modeldf.columns.get_loc('Left_h')
aLoc = Modeldf.columns.get_loc('Ambidextrous')


for i in range(len(df)):
  if df.iat[i,hloc] == 1:
    Modeldf.iat[i,rLoc] = 1

  elif df.iat[i,hloc] == 2:
    Modeldf.iat[i,lLoc] = 1

  elif df.iat[i,hloc] == 3:
    Modeldf.iat[i,aLoc] = 1

features = features + ['Right_h', 'Left_h', 'Ambidextrous']

In [13]:
#Breaks the religion column into more binary columns.
Modeldf['Agnostic'] = 0
Modeldf['Atheist'] = 0
Modeldf['Buddhist'] = 0
Modeldf['Catholic'] = 0
Modeldf['Mormon'] = 0
Modeldf['Protestant'] = 0
Modeldf['Other_Christian'] = 0
Modeldf['Hindu'] = 0
Modeldf['Jewish'] = 0
Modeldf['Muslim'] = 0
Modeldf['Sikh'] = 0
Modeldf['Other_Religion'] = 0

Reloc = df.columns.get_loc('religion')

agLoc = Modeldf.columns.get_loc('Agnostic')
athLoc = Modeldf.columns.get_loc('Atheist')
bLoc = Modeldf.columns.get_loc('Buddhist')
caLoc = Modeldf.columns.get_loc('Catholic')
moLoc = Modeldf.columns.get_loc('Mormon')
pLoc = Modeldf.columns.get_loc('Protestant')
ocLoc = Modeldf.columns.get_loc('Other_Christian')
hLoc = Modeldf.columns.get_loc('Hindu')
jLoc = Modeldf.columns.get_loc('Jewish')
muLoc = Modeldf.columns.get_loc('Muslim')
siLoc = Modeldf.columns.get_loc('Sikh')
orLoc = Modeldf.columns.get_loc('Other_Religion')


for i in range(len(df)):
  if df.iat[i,Reloc] == 1:
    Modeldf.iat[i,agLoc] = 1

  elif df.iat[i,Reloc] == 2:
    Modeldf.iat[i,athLoc] = 1

  elif df.iat[i,Reloc] == 3:
    Modeldf.iat[i,bLoc] = 1

  elif df.iat[i,Reloc] == 4:
    Modeldf.iat[i,caLoc] = 1

  elif df.iat[i,Reloc] == 5:
    Modeldf.iat[i,moLoc] = 1

  elif df.iat[i,Reloc] == 6:
    Modeldf.iat[i,pLoc] = 1

  elif df.iat[i,Reloc] == 7:
    Modeldf.iat[i,ocLoc] = 1

  elif df.iat[i,Reloc] == 8:
    Modeldf.iat[i,hLoc] = 1

  elif df.iat[i,Reloc] == 9:
    Modeldf.iat[i,jLoc] = 1

  elif df.iat[i,Reloc] == 10:
    Modeldf.iat[i,muLoc] = 1

  elif df.iat[i,Reloc] == 11:
    Modeldf.iat[i,siLoc] = 1

  elif df.iat[i,Reloc] == 12:
    Modeldf.iat[i,orLoc] = 1

features = features + ['Agnostic', 'Atheist', 'Buddhist', 'Catholic', 'Mormon', 'Protestant', 'Other_Christian', 'Hindu', 'Jewish', 'Muslim', 'Sikh', 'Other_Religion']

In [14]:
#Breaks the orientation column into more binary columns.
Modeldf['Heterosexual'] = 0
Modeldf['Bisexual'] = 0
Modeldf['Homosexual'] = 0
Modeldf['Asexual'] = 0
Modeldf['Other_Orientation'] = 0

Orloc = df.columns.get_loc('orientation')

HeLoc = Modeldf.columns.get_loc('Heterosexual')
BLoc = Modeldf.columns.get_loc('Bisexual')
HoLoc = Modeldf.columns.get_loc('Homosexual')
AsLoc = Modeldf.columns.get_loc('Asexual')
OtLoc = Modeldf.columns.get_loc('Other_Orientation')


for i in range(len(df)):
  if df.iat[i,Orloc] == 1:
    Modeldf.iat[i,HeLoc] = 1

  elif df.iat[i,Orloc] == 2:
    Modeldf.iat[i,BLoc] = 1

  elif df.iat[i,Orloc] == 3:
    Modeldf.iat[i,HoLoc] = 1

  elif df.iat[i,Orloc] == 4:
    Modeldf.iat[i,AsLoc] = 1

  elif df.iat[i,Orloc] == 5:
    Modeldf.iat[i,OtLoc] = 1

features = features + ['Heterosexual', 'Bisexual', 'Homosexual', 'Asexual', 'Other_Orientation']

In [15]:
#Breaks the race column into more binary columns.
Modeldf['Asian'] = 0
Modeldf['Arab'] = 0
Modeldf['Black'] = 0
Modeldf['Indigenous_Australian'] = 0
Modeldf['Native_American'] = 0
Modeldf['White'] = 0
Modeldf['Other_Race'] = 0

Raloc = df.columns.get_loc('race')

AsLoc = Modeldf.columns.get_loc('Asian')
ArhLoc = Modeldf.columns.get_loc('Arab')
BlLoc = Modeldf.columns.get_loc('Black')
IaLoc = Modeldf.columns.get_loc('Indigenous_Australian')
NaLoc = Modeldf.columns.get_loc('Native_American')
WLoc = Modeldf.columns.get_loc('White')
OrLoc = Modeldf.columns.get_loc('Other_Race')


for i in range(len(df)):
  if df.iat[i,Raloc] == 10:
    Modeldf.iat[i,AsLoc] = 1

  elif df.iat[i,Raloc] == 20:
    Modeldf.iat[i,ArhLoc] = 1

  elif df.iat[i,Raloc] == 30:
    Modeldf.iat[i,BlLoc] = 1

  elif df.iat[i,Raloc] == 40:
    Modeldf.iat[i,IaLoc] = 1

  elif df.iat[i,Raloc] == 50:
    Modeldf.iat[i,NaLoc] = 1

  elif df.iat[i,Raloc] == 60:
    Modeldf.iat[i,WLoc] = 1

  elif df.iat[i,Raloc] == 70:
    Modeldf.iat[i,OrLoc] = 1

features = features + ['Asian', 'Arab', 'Black', 'Indigenous_Australian', 'Native_American', 'White', 'Other_Race']

In [16]:
#Normalizes the voted column into more binary columns.
Modeldf['Voted'] = 0

vloc = df.columns.get_loc('voted')

newVLoc = Modeldf.columns.get_loc('Voted')


for i in range(len(df)):
  if df.iat[i,vloc] == 1:
    Modeldf.iat[i,newVLoc] = 1

features = features + ['Voted']

In [17]:
#Breaks the married column into more binary columns.
Modeldf['Never_married'] = 0
Modeldf['Married'] = 0
Modeldf['Previously_married'] = 0

mloc = df.columns.get_loc('married')

NmLoc = Modeldf.columns.get_loc('Never_married')
MaLoc = Modeldf.columns.get_loc('Married')
PmLoc = Modeldf.columns.get_loc('Previously_married')


for i in range(len(df)):
  if df.iat[i,mloc] == 1:
    Modeldf.iat[i,NmLoc] = 1

  elif df.iat[i,mloc] == 2:
    Modeldf.iat[i,MaLoc] = 1

  elif df.iat[i,mloc] == 3:
    Modeldf.iat[i,PmLoc] = 1

features = features + ['Never_married', 'Married', 'Previously_married']

Takes the data from the TIPI questions and changes it to a usable form.

In [18]:
#Changing the TIPI answers to a usable form.
#Only Run this cell ONCE!
NomScore = ['tipi1', 'tipi7', 'tipi3', 'tipi9', 'tipi5']
RevScore = ['tipi6', 'tipi2', 'tipi8', 'tipi4', 'tipi10']

Rev1 = df.columns.get_loc('tipi6')
Rev2 = df.columns.get_loc('tipi2')
Rev3 = df.columns.get_loc('tipi8')
Rev4 = df.columns.get_loc('tipi4')
Rev5 = df.columns.get_loc('tipi10')

RevLocs = [Rev1, Rev2, Rev3, Rev4, Rev5]

for j in RevLocs:
  for i in range(len(df)):
    if df.iat[i,j] == 1:
      df.iat[i,j] = 7

    elif df.iat[i,j] == 2:
      df.iat[i,j] = 6

    elif df.iat[i,j] == 3:
      df.iat[i,j] = 5

    elif df.iat[i,j] == 4:
      df.iat[i,j] = 4

    elif df.iat[i,j] == 5:
      df.iat[i,j] = 3

    elif df.iat[i,j] == 6:
      df.iat[i,j] = 2

    elif df.iat[i,j] == 7:
      df.iat[i,j] = 1

df['Extraversion'] = (df[NomScore[0]] + df[RevScore[0]])/2
df['Agreeableness'] = (df[NomScore[1]] + df[RevScore[1]])/2
df['Conscientiousness'] = (df[NomScore[2]] + df[RevScore[2]])/2
df['Emotional_Stability'] = (df[NomScore[3]] + df[RevScore[3]])/2
df['Openness'] = (df[NomScore[4]] + df[RevScore[4]])/2

###Normalize the data so all continuous values is on a 0 to 1 scale to match the other features which are categorical.

In [19]:
#Normailizes the non-categorical data.
normal = MinMaxScaler()

sidedf = pd.DataFrame()
sidedf = df[['age', 'familysize']]   
sidedf['Extraversion'] = df['Extraversion']
sidedf['Agreeableness'] = df['Agreeableness']
sidedf['Conscientiousness'] = df['Conscientiousness']
sidedf['Emotional_Stability'] = df['Emotional_Stability']
sidedf['Openness'] = df['Openness']
                      
Modeldf['Age'] = 0
Modeldf['FamilySize'] = 0

sidedf = pd.DataFrame(normal.fit_transform(sidedf), columns=['age','familysize', 'Extraversion', 'Agreeableness', 'Conscientiousness', 'Emotional_Stability', 'Openness'])

Modeldf['Age'] = sidedf['age']
Modeldf['FamilySize'] = sidedf['familysize']
Modeldf['Extraversion'] = sidedf['Extraversion']
Modeldf['Agreeableness'] = sidedf['Agreeableness']
Modeldf['Conscientiousness'] = sidedf['Conscientiousness']
Modeldf['Emotional_Stability'] = sidedf['Emotional_Stability']
Modeldf['Openness'] = sidedf['Openness']
ut.pprint(sidedf)
features = features + ['Age', 'FamilySize', 'Extraversion', 'Agreeableness', 'Conscientiousness', 'Emotional_Stability', 'Openness']

<ipython-input-19-cf899db73ca0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidedf['Extraversion'] = df['Extraversion']
<ipython-input-19-cf899db73ca0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidedf['Agreeableness'] = df['Agreeableness']
<ipython-input-19-cf899db73ca0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidedf['Conscientiousness'] = df['Conscientiousness']
<ipython-input-19-cf899db73ca0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidedf['Emotional_Stability'] = df['Emotional_Stability']
<ipython-input-19-cf899db73ca0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidedf['Openness'] = df['Openness']

,age,familysize,Extraversion,Agreeableness,Conscientiousness,Emotional_Stability,Openness
0,0.081395,0.030075,0.214286,1.000000,0.857143,0.928571,0.571429
1,0.244186,0.015038,0.428571,0.428571,0.857143,1.000000,0.857143
2,0.069767,0.007519,0.357143,0.357143,0.571429,0.928571,0.857143
3,0.034884,0.022556,0.428571,0.714286,0.571429,0.928571,0.571429
4,0.058140,0.015038,0.857143,0.571429,0.857143,0.928571,0.928571
...,...,...,...,...,...,...,...
8202,0.104651,0.022556,0.142857,0.642857,0.142857,0.357143,0.785714
8203,0.058140,0.015038,0.357143,0.571429,0.714286,0.142857,0.642857
8204,0.383721,0.045113,0.357143,0.428571,0.857143,0.214286,0.642857
8205,0.011628,0.022556,0.428571,0.428571,0.214286,0.142857,0.357143
8206,0.034884,0.022556,0.785714,0.571429,0.714286,0.571429,0.500000

##Splitting the data for classification and Regression Approach

Since the target data can be a catigorical value or a continus value, I decided try some regrssive models and then classifers to see what gives better results.

In [20]:
Classdf = Modeldf
Regressiondf = Modeldf

##Regression Approch

###Examining the Data before Regression

Regression Data is checked and verified that all preprocessing steps executed correctly.

In [21]:
Regressiondf = Modeldf
display(Regressiondf.describe(include='all'))
ut.pprint(Regressiondf)

,Depression_Score,Anxiety_Score,Stress_Score,No_Degree,HighSchool,University,Graduate,Rual,Suburban,Urban,Male,Female,Other_Gender,Engnat,Right_h,Left_h,Ambidextrous,Agnostic,Atheist,Buddhist,Catholic,Mormon,Protestant,Other_Christian,Hindu,Jewish,Muslim,Sikh,Other_Religion,Heterosexual,Bisexual,Homosexual,Asexual,Other_Orientation,Asian,Arab,Black,Indigenous_Australian,Native_American,White,Other_Race,Voted,Never_married,Married,Previously_married,Age,FamilySize,Extraversion,Agreeableness,Conscientiousness,Emotional_Stability,Openness
count,8207.0,8207.0,8207.0,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.00000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.00000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000
mean,22.060436,15.794687,22.07189,0.270135,0.430974,0.202876,0.083343,0.193493,0.458145,0.339344,0.291946,0.666870,0.038869,0.909955,0.859023,0.101133,0.036067,0.197027,0.191178,0.013038,0.144511,0.010966,0.08968,0.171073,0.005239,0.013525,0.024248,0.001218,0.120141,0.610454,0.204947,0.061411,0.04155,0.061533,0.086755,0.004386,0.046424,0.000122,0.017546,0.717193,0.127574,0.295601,0.783234,0.149872,0.062020,0.135942,0.020582,0.449416,0.650412,0.617261,0.431165,0.687096
std,12.678143,10.721868,10.743251,0.444057,0.495243,0.402165,0.276418,0.395060,0.498275,0.473516,0.454685,0.471361,0.193295,0.286264,0.348019,0.301523,0.186468,0.397777,0.393253,0.113443,0.351628,0.104150,0.28574,0.376596,0.072198,0.115515,0.153826,0.034887,0.325147,0.487677,0.403687,0.240097,0.19957,0.240320,0.281493,0.066089,0.210414,0.011038,0.131302,0.450391,0.333635,0.456340,0.412067,0.356968,0.241207,0.144729,0.016407,0.242194,0.201655,0.233309,0.227893,0.207827
min,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.0,7.0,14.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.034884,0.015038,0.214286,0.500000,0.428571,0.285714,0.571429
50%,22.0,14.0,22.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.081395,0.015038,0.428571,0.642857,0.642857,0.357143,0.714286
75%,33.0,23.0,30.0,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.174419,0.022556,0.642857,0.785714,0.785714,0.571429,0.857143
max,42.0,42.0,42.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

,Depression_Score,Anxiety_Score,Stress_Score,No_Degree,HighSchool,University,Graduate,Rual,Suburban,Urban,Male,Female,Other_Gender,Engnat,Right_h,Left_h,Ambidextrous,Agnostic,Atheist,Buddhist,Catholic,Mormon,Protestant,Other_Christian,Hindu,Jewish,Muslim,Sikh,Other_Religion,Heterosexual,Bisexual,Homosexual,Asexual,Other_Orientation,Asian,Arab,Black,Indigenous_Australian,Native_American,White,Other_Race,Voted,Never_married,Married,Previously_married,Age,FamilySize,Extraversion,Agreeableness,Conscientiousness,Emotional_Stability,Openness
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,13,6,12,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.081395,0.030075,0.214286,1.000000,0.857143,0.928571,0.571429
1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0.244186,0.015038,0.428571,0.428571,0.857143,1.000000,0.857143
2,14,2,14,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0.069767,0.007519,0.357143,0.357143,0.571429,0.928571,0.857143
3,9,1,1,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0.034884,0.022556,0.428571,0.714286,0.571429,0.928571,0.571429
4,0,1,0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0.058140,0.015038,0.857143,0.571429,0.857143,0.928571,0.928571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8202,42,39,42,0,0,1,0,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0.104651,0.022556,0.142857,0.642857,0.142857,0.357143,0.785714
8203,28,28,31,1,0,0,0,0,0,1,0,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0.058140,0.015038,0.357143,0.571429,0.714286,0.142857,0.642857
8204,42,33,40,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0.383721,0.045113,0.357143,0.428571,0.857143,0.214286,0.642857
8205,42,34,39,1,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0.011628,0.022556,0.428571,0.428571,0.214286,0.142857,0.357143
8206,15,21,30,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.034884,0.022556,0.785714,0.571429,0.714286,0.571429,0.500000

###Depression Model

In [22]:
X = Regressiondf[features]

#Depression Model.
D = Regressiondf[targets[0]]

X_Regset, X_HoldRegset, D_Regset, D_HoldRegset = train_test_split(X, D, test_size=Holdout_size)

####K Neighbors Regressor Model

In [23]:
KNParaReg = {
    'n_neighbors': [25,50,75],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'weights': ['uniform', 'distance'],
    }

KNReg = KNeighborsRegressor()
DepRegModel1 = GridSearchCV(KNReg, KNParaReg)
DepRegModel1.fit(X_Regset, D_Regset)

DModel_Acc1 = DepRegModel1.score(X_HoldRegset, D_HoldRegset)

print(f'The Accuracy of the KNReg Model is: {DModel_Acc1*100}%')
print(DepRegModel1.best_params_)

The Accuracy of the KNReg Model is: 14.793607823661237%
{'algorithm': 'auto', 'n_neighbors': 50, 'weights': 'distance'}

####Random Forest Regression Model

I spent my focus here since random forrest is both an esemble methoid and will better fit the categorical data.

In [24]:
RFParaReg = {
    'n_estimators':[29,30,33],
    'criterion': ['squared_error', 'absolute_error'],
    'max_depth': [5,6,7],
    'min_samples_split': [19,20,23],
    'random_state':[randnum]
    }

RFReg = RandomForestRegressor()
DepRegModel2 = GridSearchCV(RFReg, RFParaReg)
DepRegModel2.fit(X_Regset, D_Regset)

DModel_Acc2 = DepRegModel2.score(X_HoldRegset, D_HoldRegset)

print(f'The Accuracy of the RFReg Model is: {DModel_Acc2*100}%')
print(DepRegModel2.best_params_)

The Accuracy of the RFReg Model is: 31.09170806194782%
{'criterion': 'squared_error', 'max_depth': 6, 'min_samples_split': 20, 'n_estimators': 30, 'random_state': 500}

####History Gradient Boosting Regression Model

In [25]:
HGBParaReg = {
    'loss':['squared_error', 'absolute_error'],
    'learning_rate':[0.1,0.2, 0.3],
    'max_iter':[125,150,175],
    'max_depth':[2,3,4],
    'random_state':[randnum],
}

HGBReg = HistGradientBoostingRegressor()
DepRegModel3 = GridSearchCV(HGBReg, HGBParaReg)
DepRegModel3.fit(X_Regset, D_Regset)

DModel_Acc3 = DepRegModel3.score(X_HoldRegset, D_HoldRegset)

print(f'The Accuracy of the HistGradientBoosting Model is: {DModel_Acc3*100}%')
print(DepRegModel3.best_params_)

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
300 fits failed out of a total of 1200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 407, in fit
    self._loss = self._get_loss(sample_weight=sample_weight)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 1524, in _get_loss
    return _LOSSES[self.loss](
  File "/usr/local/lib/python3.9/dist-packages/sklearn/_loss/loss.py", line 610, in __init__
    check_scalar(
  File "/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py", line 1498, in check_scalar
    raise TypeError(
TypeError: quantile must be an instance of float, not NoneType.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [ 0.32103235  0.32322463  0.3236481   0.32315643  0.30910369  0.30503898
  0.29405434  0.28531149  0.29707985  0.29015328  0.27562601  0.26332269
  0.30894372  0.30880162  0.30749816  0.30658058  0.29295956  0.28884063
  0.2855448   0.28365429  0.29147635  0.28681596  0.28087227  0.27706655
  0.31761475  0.31954389  0.31922945  0.31808405  0.3045478   0.3005183
  0.28914464  0.28061343  0.29670889  0.28880196  0.27520169  0.26038904
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.32025899  0.31829195  0.31341369  0.30999099  0.2647976   0.25063315
  0.22533286  0.20232538  0.22946354  0.20975824  0.1781668   0.15657646
  0.30131712  0.30169964  0.30041675  0.29772599  0.26400217  0.26010343
  0.25430931  0.24842455  0.25898291  0.2535599   0.24420317  0.23850076
  0.31378027  0.31189246  0.30747743  0.30122916  0.25097523  0.23446257
  0.20957472  0.18103353  0.22014529  0.19887951  0.16940234  0.14005304
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.30980757  0.30643374  0.29773528  0.2917139   0.19726905  0.16844723
  0.13616441  0.10834113  0.13787553  0.10934009  0.0708929   0.04965549
  0.28662954  0.28334972  0.28137243  0.28093553  0.23903455  0.23368433
  0.22270537  0.21713958  0.21421469  0.2066853   0.19934622  0.19306162
  0.30641128  0.30283747  0.29402284  0.28819887  0.18930402  0.16646701
  0.11394501  0.07814837  0.12979862  0.09510195  0.04389483  0.00503043
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.29769799  0.29476595  0.28499389  0.28006005  0.11549673  0.08143497
  0.03162133 -0.00346362  0.0480036   0.01062618 -0.032135   -0.053936
  0.27345997  0.27482636  0.27134534  0.26876855  0.18860618  0.18275374
  0.17546481  0.17032153  0.16129106  0.15359212  0.14394222  0.14061262
  0.28472923  0.27793011  0.26667286  0.25683176  0.06183201  0.01630475
 -0.05033391 -0.08312004 -0.0063861  -0.04444486 -0.11372708 -0.15289378
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.28457366  0.27741099  0.26408316  0.25808376  0.01623375 -0.03502332
 -0.09846587 -0.13086914 -0.07231291 -0.11383046 -0.16240744 -0.17471588
  0.26294375  0.26021724  0.25409982  0.25240656  0.13143429  0.12106361
  0.11029002  0.1032356   0.07137415  0.0658969   0.05444215  0.04925677
  0.27309679  0.26531614  0.24948209  0.23460917 -0.03280062 -0.07881515
 -0.16691693 -0.23433519 -0.17820937 -0.23730826 -0.3044124  -0.34571317
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan]
  warnings.warn(

The Accuracy of the HistGradientBoosting Model is: 33.055778775975966%
{'learning_rate': 0.1, 'loss': 'squared_error', 'max_depth': 2, 'max_iter': 150, 'random_state': 500}

####Final Ensemble Methoid

Checks Which model has the greatest accuracy and puts it into an ensemble methoid to increase accuracy.

In [26]:
ModelAccuracys = [DModel_Acc1, DModel_Acc2, DModel_Acc3]
BestMod = max(ModelAccuracys)

if BestMod == DModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestDepRegParams = DepRegModel1.best_params_

  DepRegNei = BestDepRegParams['n_neighbors']
  DepRegAlg = BestDepRegParams['algorithm']
  DepRegWei = BestDepRegParams['weights']

  FastDepRegMod = KNeighborsClassifier(n_neighbors=DepRegNei, algorithm=DepRegAlg, weights=DepRegWei, random_state=randnum)

  FinalDepRegMod = BaggingRegressor(estimator=FastDepRegMod, n_estimators=50, random_state=randnum)
  FinalDepRegMod.fit(X_Regset, D_Regset)

  DRegMod_Acc = FinalDepRegMod.score(X_HoldRegset, D_HoldRegset)
  print(f'The Accuracy of the KNeighbors Model is: {DRegMod_Acc*100}%')

elif BestMod == DModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {DModel_Acc2*100}%')

elif BestMod == DModel_Acc3:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {DModel_Acc3*100}%')

The Accuracy of the HistGradientBoosting Model is: 33.055778775975966%

###Anxiety Model

In [27]:
#Anxiety Model.
A = Regressiondf[targets[1]]
randnum = 500

X_Regset, X_HoldRegset, A_Regset, A_HoldRegset= train_test_split(X, A, test_size=Holdout_size)

####K Neighbors Regressor Model

In [28]:
KNParaReg = {
    'n_neighbors': [250, 275, 300],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'weights': ['uniform', 'distance'],
    }

KNReg = KNeighborsRegressor()
AnxRegModel1 = GridSearchCV(KNReg, KNParaReg)
AnxRegModel1.fit(X_Regset, A_Regset)

AModel_Acc1 = AnxRegModel1.score(X_HoldRegset, A_HoldRegset)

print(f'The Accuracy of the KNReg Model is: {AModel_Acc1*100}%')
print(AnxRegModel1.best_params_)

The Accuracy of the KNReg Model is: 19.1929034023523%
{'algorithm': 'kd_tree', 'n_neighbors': 275, 'weights': 'distance'}

####Random Forest Regression Model

In [29]:
RFParaReg = {
    'n_estimators':[27,30,32],
    'criterion': ['squared_error', 'absolute_error'],
    'max_depth': [7,8,9],
    'min_samples_split': [+8,9,10],
    'random_state':[randnum],
    }

RFReg = RandomForestRegressor()
AnxRegModel2 = GridSearchCV(RFReg, RFParaReg)
AnxRegModel2.fit(X_Regset, A_Regset)

AModel_Acc2 = AnxRegModel2.score(X_HoldRegset, A_HoldRegset)

print(f'The Accuracy of the RFReg Model is: {AModel_Acc2*100}%')
print(AnxRegModel2.best_params_)

The Accuracy of the RFReg Model is: 36.77846276308154%
{'criterion': 'squared_error', 'max_depth': 8, 'min_samples_split': 9, 'n_estimators': 30, 'random_state': 500}

####History Gradient Boosting Regression Model

In [30]:
HGBParaReg = {
    'loss':['squared_error', 'absolute_error'],
    'learning_rate':[0.2,0.3,0.4],
    'max_iter':[10,25,50,75],
    'max_depth':[2,5,7],
    'random_state':[randnum],
}

HGBReg = HistGradientBoostingRegressor()
AnxRegModel3 = GridSearchCV(HGBReg, HGBParaReg)
AnxRegModel3.fit(X_Regset, A_Regset)

AModel_Acc3 = AnxRegModel3.score(X_HoldRegset, A_HoldRegset)

print(f'The Accuracy of the HistGradientBoosting Model is: {AModel_Acc3*100}%')
print(AnxRegModel3.best_params_)

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
300 fits failed out of a total of 1200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 407, in fit
    self._loss = self._get_loss(sample_weight=sample_weight)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 1524, in _get_loss
    return _LOSSES[self.loss](
  File "/usr/local/lib/python3.9/dist-packages/sklearn/_loss/loss.py", line 610, in __init__
    check_scalar(
  File "/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py", line 1498, in check_scalar
    raise TypeError(
TypeError: quantile must be an instance of float, not NoneType.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [ 0.39364292  0.39704745  0.39941233  0.39979408  0.39173112  0.38874673
  0.3818801   0.37368472  0.38257639  0.37675088  0.36733849  0.35791076
  0.3811801   0.38419878  0.3872602   0.38874404  0.38624834  0.38537084
  0.38313918  0.37989666  0.38000849  0.37853465  0.37612035  0.3730166
  0.39287836  0.39734021  0.40046776  0.40083473  0.3894679   0.38657844
  0.378092    0.3671605   0.38526122  0.38056569  0.36871985  0.35652572
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.40091481  0.3997347   0.39749749  0.39366954  0.34979181  0.33480909
  0.31330456  0.29366596  0.32568176  0.30757498  0.28358102  0.26621927
  0.38703359  0.38793802  0.38797638  0.38705629  0.36876515  0.36514651
  0.36020113  0.35640639  0.34888954  0.34482628  0.33905768  0.33338472
  0.39589211  0.39437978  0.3910499   0.38769619  0.347117    0.33470816
  0.31542451  0.29700636  0.31997257  0.30552689  0.2805759   0.25938853
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.39239027  0.38815241  0.38293219  0.37846788  0.28921976  0.27022181
  0.23676196  0.21291421  0.24673274  0.23044743  0.2029508   0.17904677
  0.38419402  0.38271596  0.37897188  0.37593546  0.33262643  0.3278292
  0.32038446  0.31521721  0.3122844   0.30672567  0.29979178  0.29403666
  0.38780624  0.38372105  0.37732055  0.37250148  0.29396713  0.27201816
  0.24247084  0.21162734  0.23178004  0.21229565  0.18652837  0.16489752
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.38729224  0.38167107  0.37232565  0.36436933  0.22866235  0.20130074
  0.16667014  0.13252021  0.18058019  0.15469628  0.12165576  0.10289374
  0.37292566  0.36959783  0.36468301  0.36193884  0.30774474  0.30066429
  0.29017114  0.28472185  0.2730012   0.26441541  0.25443486  0.24859883
  0.37481204  0.36900774  0.36273301  0.35222883  0.18972194  0.1644457
  0.11878845  0.08417607  0.13894051  0.11316529  0.06371752  0.04514541
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.36373067  0.35650825  0.3499493   0.33898183  0.1379477   0.11294594
  0.0726218   0.03350986  0.05811271  0.03093391 -0.00498889 -0.02310522
  0.36543293  0.36103285  0.359777    0.35690894  0.25252396  0.2447854
  0.23757545  0.23388361  0.21936266  0.21227538  0.20215327  0.19869309
  0.34890535  0.34425186  0.32833496  0.31222295  0.11394562  0.08736701
  0.01990103 -0.04493013 -0.00438532 -0.04101597 -0.07804349 -0.11016496
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan]
  warnings.warn(

The Accuracy of the HistGradientBoosting Model is: 38.163213088311345%
{'learning_rate': 0.3, 'loss': 'squared_error', 'max_depth': 2, 'max_iter': 75, 'random_state': 500}

####Final Ensemble Methoid

Checks Which model has the greatest accuracy and puts it into an ensemble methoid to increase accuracy.

In [31]:
ModelAccuracys = [AModel_Acc1, AModel_Acc2, AModel_Acc3]
BestMod = max(ModelAccuracys)

if BestMod == DModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestAnxRegParams = AnxRegModel1.best_params_

  AnxRegNei = BestAnxRegParams['n_neighbors']
  AnxRegAlg = BestAnxRegParams['algorithm']
  AnxRegWei = BestAnxRegParams['weights']

  FastAnxRegMod = KNeighborsClassifier(n_neighbors=AnxRegNei, algorithm=AnxRegAlg, weights=AnxRegWei, random_state=randnum)

  FinalAnxRegMod = BaggingRegressor(estimator=FastAnxRegMod, n_estimators=50, random_state=randnum)
  FinalAnxRegMod.fit(X_Regset, A_Regset)

  ARegMod_Acc = FinalAnxRegMod.score(X_HoldRegset, A_HoldRegset)
  print(f'The Accuracy of the KNeighbors Model is: {ARegMod_Acc*100}%')

elif BestMod == AModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {AModel_Acc2*100}%')

elif BestMod == AModel_Acc3:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {AModel_Acc3*100}%')

The Accuracy of the HistGradientBoosting Model is: 38.163213088311345%

###Stress Model

In [32]:
S = Regressiondf[targets[2]]

X_Regset, X_HoldRegset, S_Regset, S_HoldRegset = train_test_split(X, S, test_size=Holdout_size)

####K Neighbors Regressor Model

In [33]:
KNParaReg = {
    'n_neighbors': [25, 50, 75],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'weights': ['uniform', 'distance'],
    }

KNReg = KNeighborsRegressor()
StsRegMod1 = GridSearchCV(KNReg, KNParaReg)
StsRegMod1.fit(X_Regset, S_Regset)

SModel_Acc1 = StsRegMod1.score(X_HoldRegset, S_HoldRegset)

print(f'The Accuracy of the KNReg Model is: {SModel_Acc1*100}%')
print(StsRegMod1.best_params_)

The Accuracy of the KNReg Model is: 21.593322500569844%
{'algorithm': 'kd_tree', 'n_neighbors': 50, 'weights': 'distance'}

####Random Forest Regression Model

In [34]:
RFParaReg = {
    'n_estimators':[10,20,30],
    'criterion': ['squared_error', 'absolute_error'],
    'max_depth': [8,9,10],
    'min_samples_split': [9,10,13,15],
    'random_state':[randnum],
    }

RFReg = RandomForestRegressor()
StsRegMod2 = GridSearchCV(RFReg, RFParaReg)
StsRegMod2.fit(X_Regset, S_Regset)

SModel_Acc2 = StsRegMod2.score(X_HoldRegset, S_HoldRegset)

print(f'The Accuracy of the RFReg Model is: {SModel_Acc2*100}%')
print(StsRegMod2.best_params_)

The Accuracy of the RFReg Model is: 46.92629635444037%
{'criterion': 'squared_error', 'max_depth': 8, 'min_samples_split': 13, 'n_estimators': 30, 'random_state': 500}

####History Gradient Boosting Regression Model

In [35]:
HGBParaReg = {
    'loss':['squared_error', 'absolute_error', 'poisson', 'quantile'],
    'learning_rate':[0.1,0.3,0.5,0.7,0.9],
    'max_iter':[75,100,150,200],
    'max_depth':[2,5,7],
    'random_state':[randnum],
}

HGBReg = HistGradientBoostingRegressor()
StsRegModel3 = GridSearchCV(HGBReg, HGBParaReg)
StsRegModel3.fit(X_Regset, S_Regset)

SModel_Acc3 = StsRegModel3.score(X_HoldRegset, S_HoldRegset)

print(f'The Accuracy of the HistGradientBoosting Model is: {SModel_Acc3*100}%')
print(StsRegModel3.best_params_)

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
300 fits failed out of a total of 1200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 407, in fit
    self._loss = self._get_loss(sample_weight=sample_weight)
  File "/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py", line 1524, in _get_loss
    return _LOSSES[self.loss](
  File "/usr/local/lib/python3.9/dist-packages/sklearn/_loss/loss.py", line 610, in __init__
    check_scalar(
  File "/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py", line 1498, in check_scalar
    raise TypeError(
TypeError: quantile must be an instance of float, not NoneType.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [ 0.44842902  0.45160518  0.45413832  0.4539967   0.44742135  0.44226487
  0.43466177  0.42676917  0.44123724  0.43461325  0.42524809  0.41379369
  0.44237739  0.44405946  0.44566692  0.44573924  0.4416507   0.44004429
  0.43645989  0.43403505  0.43775447  0.43556533  0.43142696  0.42860352
  0.44681673  0.44961199  0.45161642  0.45103538  0.44743383  0.44346556
  0.4345278   0.42582318  0.44148257  0.43540703  0.42388623  0.41534428
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.45161078  0.45023064  0.44639381  0.44328445  0.40573934  0.39253067
  0.37048329  0.35435081  0.38668743  0.37212071  0.34802485  0.33070524
  0.44207824  0.44147333  0.43980004  0.43874858  0.42502371  0.4207847
  0.41760985  0.41449757  0.41521596  0.41225867  0.4060272   0.40347762
  0.44846294  0.44644939  0.4420892   0.43798977  0.40462932  0.39401046
  0.37028049  0.35266234  0.38738008  0.37251595  0.34949461  0.32892958
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.44530076  0.44070679  0.43698829  0.43383924  0.35410559  0.33447685
  0.30720898  0.28710662  0.33052018  0.3120901   0.28223345  0.26234645
  0.43064034  0.42959982  0.42705729  0.42583327  0.39562009  0.39037045
  0.38598918  0.3806988   0.3853232   0.38070811  0.37509394  0.37192537
  0.4393948   0.43623603  0.42828931  0.4248608   0.34392478  0.32065171
  0.29184679  0.26285342  0.32153252  0.29468039  0.26304217  0.23688169
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.43168441  0.42894303  0.42153136  0.41598122  0.30029004  0.27946201
  0.23791804  0.21258084  0.26387774  0.23983768  0.2081473   0.19179547
  0.42959572  0.42658866  0.42252359  0.41900674  0.37328842  0.36586046
  0.35880395  0.3520347   0.33289528  0.32511039  0.3206947   0.31541714
  0.42787216  0.42346293  0.41747083  0.41104817  0.27276798  0.24567049
  0.19655593  0.16010594  0.25078421  0.21881787  0.17879388  0.15106612
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
  0.42633496  0.42242962  0.41074818  0.40124214  0.22585345  0.1958156
  0.14537276  0.12251524  0.13366971  0.10418691  0.06263788  0.04349398
  0.42351194  0.4210236   0.41411754  0.40889148  0.32796325  0.32066738
  0.31448492  0.30808205  0.29362115  0.28702657  0.2788644   0.27443283
  0.41267165  0.40903723  0.39804098  0.38812427  0.19050717  0.14611076
  0.08465061  0.02871869  0.11517449  0.07403496  0.02153044 -0.01260084
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan]
  warnings.warn(

The Accuracy of the HistGradientBoosting Model is: 46.75260000848056%
{'learning_rate': 0.1, 'loss': 'squared_error', 'max_depth': 2, 'max_iter': 150, 'random_state': 500}

####Final Ensemble Methoid

Checks Which model has the greatest accuracy and puts it into an ensemble methoid to increase accuracy.

In [36]:
ModelAccuracys = [SModel_Acc1, SModel_Acc2, SModel_Acc3]
BestMod = max(ModelAccuracys)

if BestMod == SModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestStsRegParams = StsRegMod1.best_params_

  StsRegNei = BestStsRegParams['n_neighbors']
  StsRegAlg = BestStsRegParams['algorithm']
  StsRegWei = BestStsRegParams['weights']

  FastStsRegMod = KNeighborsRegressor(n_neighbors=StsRegNei, algorithm=StsRegAlg, weights=StsRegWei, random_state=randnum)

  FinalStsRegMod = BaggingRegressor(estimator=FastStsRegMod, n_estimators=50, random_state=randnum)
  FinalStsRegMod.fit(X_Regset, S_Regset)

  SRegMod_Acc = FinalStsRegMod.score(X_HoldRegset, S_HoldRegset)
  print(f'The Accuracy of the KNeighbors Model is: {SRegMod_Acc*100}%')

elif BestMod == SModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {SModel_Acc2*100}%')

elif BestMod == SModel_Acc3:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {SModel_Acc3*100}%')

The Accuracy of the Random Forest Model is: 46.92629635444037%

##Clssification Approach

In [37]:
Classdf = Modeldf
#Changes the target scores to match the target classes for Classification.
#Grabs the location of the target columns.
Dloc = Classdf.columns.get_loc('Depression_Score')
Aloc = Classdf.columns.get_loc('Anxiety_Score')
Sloc = Classdf.columns.get_loc('Stress_Score')

for i in range(len(Classdf)):
  #Depression.
  if Classdf.iat[i,Dloc] <= 9:
    Classdf.iat[i,Dloc] = 0

  elif Classdf.iat[i,Dloc] <= 13:
    Classdf.iat[i,Dloc] = 1

  elif Classdf.iat[i,Dloc] <= 20:
    Classdf.iat[i,Dloc] = 2

  elif Classdf.iat[i,Dloc] <= 27:
    Classdf.iat[i,Dloc] = 3

  elif Classdf.iat[i,Dloc] >= 28:
    Classdf.iat[i,Dloc] = 4

  #Anxeity.
  if Classdf.iat[i,Aloc] <= 7:
    Classdf.iat[i,Aloc] = 0

  elif Classdf.iat[i,Aloc] <= 9:
    Classdf.iat[i,Aloc] = 1

  elif Classdf.iat[i,Aloc] <= 14:
    Classdf.iat[i,Aloc] = 2

  elif Classdf.iat[i,Aloc] <= 19:
    Classdf.iat[i,Aloc] = 3

  elif Classdf.iat[i,Aloc] >= 20:
    Classdf.iat[i,Aloc] = 4

  #Stress.
  if Classdf.iat[i,Sloc] <= 14:
    Classdf.iat[i,Sloc] = 0

  elif Classdf.iat[i,Sloc] <= 18:
    Classdf.iat[i,Sloc] = 1

  elif Classdf.iat[i,Sloc] <= 25:
    Classdf.iat[i,Sloc] = 2

  elif Classdf.iat[i,Sloc] <= 33:
    Classdf.iat[i,Sloc] = 3

  elif Classdf.iat[i,Sloc] >= 34:
    Classdf.iat[i,Sloc] = 4

###Examining the Data before Classification

Classification Data is checked and verified that all preprocessing steps executed correctly.

In [38]:
display(Classdf.describe(include='all'))
ut.pprint(Classdf)

,Depression_Score,Anxiety_Score,Stress_Score,No_Degree,HighSchool,University,Graduate,Rual,Suburban,Urban,Male,Female,Other_Gender,Engnat,Right_h,Left_h,Ambidextrous,Agnostic,Atheist,Buddhist,Catholic,Mormon,Protestant,Other_Christian,Hindu,Jewish,Muslim,Sikh,Other_Religion,Heterosexual,Bisexual,Homosexual,Asexual,Other_Orientation,Asian,Arab,Black,Indigenous_Australian,Native_American,White,Other_Race,Voted,Never_married,Married,Previously_married,Age,FamilySize,Extraversion,Agreeableness,Conscientiousness,Emotional_Stability,Openness
count,8207.0,8207.0,8207.0,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.00000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.00000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000,8207.000000
mean,2.411478,2.23943,1.915438,0.270135,0.430974,0.202876,0.083343,0.193493,0.458145,0.339344,0.291946,0.666870,0.038869,0.909955,0.859023,0.101133,0.036067,0.197027,0.191178,0.013038,0.144511,0.010966,0.08968,0.171073,0.005239,0.013525,0.024248,0.001218,0.120141,0.610454,0.204947,0.061411,0.04155,0.061533,0.086755,0.004386,0.046424,0.000122,0.017546,0.717193,0.127574,0.295601,0.783234,0.149872,0.062020,0.135942,0.020582,0.449416,0.650412,0.617261,0.431165,0.687096
std,1.561145,1.625208,1.444957,0.444057,0.495243,0.402165,0.276418,0.395060,0.498275,0.473516,0.454685,0.471361,0.193295,0.286264,0.348019,0.301523,0.186468,0.397777,0.393253,0.113443,0.351628,0.104150,0.28574,0.376596,0.072198,0.115515,0.153826,0.034887,0.325147,0.487677,0.403687,0.240097,0.19957,0.240320,0.281493,0.066089,0.210414,0.011038,0.131302,0.450391,0.333635,0.456340,0.412067,0.356968,0.241207,0.144729,0.016407,0.242194,0.201655,0.233309,0.227893,0.207827
min,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.034884,0.015038,0.214286,0.500000,0.428571,0.285714,0.571429
50%,3.0,2.0,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.081395,0.015038,0.428571,0.642857,0.642857,0.357143,0.714286
75%,4.0,4.0,3.0,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.174419,0.022556,0.642857,0.785714,0.785714,0.571429,0.857143
max,4.0,4.0,4.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

,Depression_Score,Anxiety_Score,Stress_Score,No_Degree,HighSchool,University,Graduate,Rual,Suburban,Urban,Male,Female,Other_Gender,Engnat,Right_h,Left_h,Ambidextrous,Agnostic,Atheist,Buddhist,Catholic,Mormon,Protestant,Other_Christian,Hindu,Jewish,Muslim,Sikh,Other_Religion,Heterosexual,Bisexual,Homosexual,Asexual,Other_Orientation,Asian,Arab,Black,Indigenous_Australian,Native_American,White,Other_Race,Voted,Never_married,Married,Previously_married,Age,FamilySize,Extraversion,Agreeableness,Conscientiousness,Emotional_Stability,Openness
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.081395,0.030075,0.214286,1.000000,0.857143,0.928571,0.571429
1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0.244186,0.015038,0.428571,0.428571,0.857143,1.000000,0.857143
2,2,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0.069767,0.007519,0.357143,0.357143,0.571429,0.928571,0.857143
3,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0.034884,0.022556,0.428571,0.714286,0.571429,0.928571,0.571429
4,0,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0.058140,0.015038,0.857143,0.571429,0.857143,0.928571,0.928571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8202,4,4,4,0,0,1,0,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0.104651,0.022556,0.142857,0.642857,0.142857,0.357143,0.785714
8203,4,4,3,1,0,0,0,0,0,1,0,0,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0.058140,0.015038,0.357143,0.571429,0.714286,0.142857,0.642857
8204,4,4,4,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0.383721,0.045113,0.357143,0.428571,0.857143,0.214286,0.642857
8205,4,4,4,1,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0.011628,0.022556,0.428571,0.428571,0.214286,0.142857,0.357143
8206,2,4,3,1,0,0,0,0,1,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.034884,0.022556,0.785714,0.571429,0.714286,0.571429,0.500000

###Depression Model

####Data Split for Depression

In [39]:
X = Classdf[features]

#Depression Model.
D = Classdf[targets[0]]

X_Claset, X_HoldClaset, D_Claset, D_HoldClaset = train_test_split(X, D, test_size=Holdout_size)

####K Neighbors Classifier Model

In [40]:
KNParaClass = {
    'n_neighbors': [75, 100, 125],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'weights': ['uniform', 'distance'],
    }

KNClass = KNeighborsClassifier()
DepClaMod1 = GridSearchCV(KNClass, KNParaClass)
DepClaMod1.fit(X_Claset, D_Claset)

DModel_Acc1 = DepClaMod1.score(X_HoldClaset, D_HoldClaset)
print(f'The Accuracy of the KNClass Model is: {DModel_Acc1*100}%')
print(DepClaMod1.best_params_)

DMod1Pred = DepClaMod1.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod1Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod1Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(DepClaMod1, X_HoldClaset, D_HoldClaset)
plt.show()

The Accuracy of the KNClass Model is: 44.13317092976045%
{'algorithm': 'ball_tree', 'n_neighbors': 100, 'weights': 'distance'}

ValueError: ignored

####Random Forest Model

In [ ]:
RandForParaClass = {
    'n_estimators': [275, 300, 325], 
    'criterion': ['gini'], 
    'max_depth': [10,11,12], 
    'min_samples_split': [7,8,9], 
    'random_state':[randnum],
    }
    
RandForClass = RandomForestClassifier()
DepClaMod2 = GridSearchCV(RandForClass, RandForParaClass)
DepClaMod2.fit(X_Claset, D_Claset)

DModel_Acc2 = DepClaMod2.score(X_HoldClaset, D_HoldClaset)
print(f'The Accuracy of the Random Forest Model is: {DModel_Acc2*100}%')
print(DepClaMod2.best_params_)

DMod2Pred = DepClaMod2.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod2Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod2Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(DepClaMod2, X_HoldClaset, D_HoldClaset)
plt.show()

####SVC Models

In [ ]:
SVCClass = SVC(random_state=randnum)

In [ ]:
#Non-Polynomial SVC Model.
SVCParaClass1 = {
    'kernel': ['linear'],
    'C':C,
    }
    
DepClaMod3 = GridSearchCV(SVCClass, SVCParaClass1)
DepClaMod3.fit(X_Claset, D_Claset)

DModel_Acc3 = DepClaMod3.score(X_HoldClaset, D_HoldClaset)
print(f'The Accuracy of the SVC Model is: {DModel_Acc3*100}%')
print(DepClaMod3.best_params_)

DMod3Pred = DepClaMod3.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod3Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod3Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(DepClaMod3, X_HoldClaset, D_HoldClaset)
plt.show()

In [ ]:
#Polynomial SVC Model.
SVCParaClass2 = {
    'kernel': ['poly'],
    'degree':[2,3,4,5,6],
    'C':C,
    }
    
DepClaMod4 = GridSearchCV(SVCClass, SVCParaClass2)
DepClaMod4.fit(X_Claset, D_Claset)

DModel_Acc4 = DepClaMod4.score(X_HoldClaset, D_HoldClaset)
print(f'The Accuracy of the SVC Model is: {DModel_Acc4*100}%')
print(DepClaMod4.best_params_)

DMod4Pred = DepClaMod4.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod4Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod4Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(DepClaMod4, X_HoldClaset, D_HoldClaset)
plt.show()

####History Gradient Boosting Classification Model

In [ ]:
HGBParaClass = {
    'loss':['log_loss', 'auto', 'binary_crossentropy', 'categorical_crossentropy'],
    'learning_rate':[0.1,0.3,0.5,0.7,0.9],
    'max_iter':[75,100,150,200],
    'max_depth':[2,5,7],
    'random_state':[randnum],
}

HGBClass = HistGradientBoostingClassifier()
DepClassModel5 = GridSearchCV(HGBClass, HGBParaClass)
DepClassModel5.fit(X_Claset, D_Claset)

DModel_Acc5 = DepClassModel5.score(X_HoldClaset, D_HoldClaset)

print(f'The Accuracy of the HistGradientBoosting Model is: {DModel_Acc5*100}%')
print(DepClassModel5.best_params_)

DMod5Pred = DepClassModel5.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod5Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod5Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(DepClassModel5, X_HoldClaset, D_HoldClaset)
plt.show()

####Nural Network Classification Model

In [ ]:
batch_size = 100
loss_function = sparse_categorical_crossentropy
no_classes = 5
no_epochs = 30
optimizer = Adam()
validation_split = 0.2
verbosity = 1

X_Train_Ten = np.asarray(X_Claset).astype(np.float32)
D_Train_Ten = np.asarray(D_Claset).astype(np.float32)
X_Test_Ten = np.asarray(X_HoldClaset).astype(np.float32)
D_Test_Ten = np.asarray(D_HoldClaset).astype(np.float32)


NNDepClass = Sequential()
NNDepClass.add(Dense(32, activation='relu',input_shape=(None,49)))
NNDepClass.add(Dropout(0.2))
NNDepClass.add(Dense(no_classes, activation='softmax'))

NNDepClass.compile(loss=loss_function, optimizer=optimizer, metrics=['accuracy'])

history = NNDepClass.fit(X_Train_Ten, D_Train_Ten, batch_size=batch_size, epochs=no_epochs, verbose=verbosity, validation_split=validation_split)

Dscore = NNDepClass.evaluate(X_Test_Ten, D_Test_Ten, verbose=0)
print(f'The Accuracy of the Nural Network: {Dscore[1]*100}')

DMod6Pred = NNDepClass.predict(X_HoldClaset)
print(classification_report(D_HoldClaset, DMod6Pred, target_names=DepClassNames))

ConMax = confusion_matrix(D_HoldClaset, DMod6Pred, labels=DepClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=DepClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(NNDepClass, X_HoldClaset, D_HoldClaset)
plt.show()

####Final Ensemble Methoid

Checks Which model has the greatest accuracy and throws it into an ensemble methoid to increase accuracy.

In [ ]:
ModelAccuracys = [DModel_Acc1, DModel_Acc2, DModel_Acc3, DModel_Acc4, DModel_Acc5, Dscore[1]]
BestMod = max(ModelAccuracys)

if BestMod == DModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestDepClassParams = DepClaMod1.best_params_

  DepClaNei = BestDepClassParams['n_neighbors']
  DepClaAlg = BestDepClassParams['algorithm']
  DepClaWei = BestDepClassParams['weights']

  FastDepClassMod = KNeighborsClassifier(n_neighbors=DepClaNei, algorithm=DepClaAlg, weights=DepClaWei, random_state=randnum)

  FinalDepClaMod = BaggingClassifier(estimator=FastDepClassMod, n_estimators=50, random_state=randnum)
  FinalDepClaMod.fit(X_Claset, D_Claset)

  DClassMod_Acc = FinalDepClaMod.score(X_HoldClaset, D_HoldClaset)
  print(f'The Accuracy of the KNeighbors Model is: {DClassMod_Acc*100}%')

elif BestMod == DModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {DModel_Acc2*100}%')

elif BestMod == DModel_Acc3:
  #The SVC is the best model
  BestDepClassParams = DepClaMod3.best_params_

  DepClaKer = BestDepClassParams['kernel']
  DepClaC = BestDepClassParams['C']

  FastDepClassMod = SVC(kernel=DepClaKer, C=DepClaC, random_state=randnum)

  FinalDepClaMod = BaggingClassifier(estimator=FastDepClassMod, n_estimators=50, random_state=randnum)
  FinalDepClaMod.fit(X_Claset, D_Claset)

  DClassMod_Acc = FinalDepClaMod.score(X_HoldClaset, D_HoldClaset)
  print(f'The Accuracy of the Non-Polynomial SVC Model is: {DClassMod_Acc*100}%')

elif BestMod == DModel_Acc4:
  #The SVC is the best model.
  BestDepClassParams = DepClaMod4.best_params_

  DepClaKer = BestDepClassParams['kernel']
  DepClaDeg = BestDepClassParams['degree']
  DepClaC = BestDepClassParams['C']

  FastDepClassMod = SVC(kernel=DepClaKer, degree=DepClaDeg, C=DepClaC, random_state=randnum)

  FinalDepClaMod = BaggingClassifier(estimator=FastDepClassMod, n_estimators=50, random_state=randnum)
  FinalDepClaMod.fit(X_Claset, D_Claset)

  DClassMod_Acc = FinalDepClaMod.score(X_HoldClaset, D_HoldClaset)
  print(f'The Accuracy of the Polynomial SVC Model is: {DClassMod_Acc*100}%')

elif BestMod == DModel_Acc5:
  #The HisGradientBoosting is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {DModel_Acc5*100}%')

elif BestMod == Dscore[1]:
  #The Nural Network is the best model
  print(f'The Accuracy of the Nural Network Model is: {Dscore[1]*100}%')

###Anxiety Model

####Data Split for Anxiety

In [ ]:
#Anxiety Model.
A = Classdf[targets[1]]
randnum = 500

X_Claset, X_HoldClaset, A_Claset, A_HoldClaset = train_test_split(X, A, test_size=Holdout_size)

####K Neighbors Classifier Model

In [ ]:
KNClassPara = {
    'n_neighbors': [75, 100, 125], 
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'], 
    'weights': ['uniform', 'distance'],
    }
    
KNClass = KNeighborsClassifier()
AnxCalModel1 = GridSearchCV(KNClass, KNClassPara)
AnxCalModel1.fit(X_Claset, A_Claset)

AModel_Acc1 = AnxCalModel1.score(X_HoldClaset, A_HoldClaset)
print(f'The Accuracy of the KNClass Model is: {AModel_Acc1*100}%')
print(AnxCalModel1.best_params_)

AMod1Pred = AnxCalModel1.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod1Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod1Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(AnxCalModel1, X_HoldClaset, A_HoldClaset)
plt.show()

####Random Forest Model

In [ ]:
RandForClaPar = {
    'n_estimators': [175, 200, 225], 
    'criterion': ['gini'], 
    'max_depth': [20,23,25], 
    'min_samples_split': [7,8,9],
    'random_state':[randnum],
    }
    
RandForClassMod = RandomForestClassifier()
AnxCalModel2 = GridSearchCV(RandForClassMod, RandForClaPar)
AnxCalModel2.fit(X_Claset, A_Claset)

AModel_Acc2 = AnxCalModel2.score(X_HoldClaset, A_HoldClaset)
print(f'The Accuracy of the Random Forest Model is: {AModel_Acc2*100}%')
print(AnxCalModel2.best_params_)

AMod2Pred = AnxCalModel2.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod2Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod2Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(AnxCalModel2, X_HoldClaset, A_HoldClaset)
plt.show()

####SVC Models

In [ ]:
SVCClass = SVC(random_state=randnum)

In [ ]:
#Non-Polynomial SVC Model.
SVCParaClass1 = {
    'kernel': ['linear'],
    'C':C,
    }

SVCClass = SVC()
AnxCalModel3 = GridSearchCV(SVCClass, SVCParaClass1)
AnxCalModel3.fit(X_Claset, A_Claset)

AModel_Acc3 = AnxCalModel3.score(X_HoldClaset, A_HoldClaset)
print(f'The Accuracy of the SVC Model is: {AModel_Acc3*100}%')
print(AnxCalModel3.best_params_)

AMod3Pred = AnxCalModel3.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod3Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod3Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(AnxCalModel3, X_HoldClaset, A_HoldClaset)
plt.show()

In [ ]:
#Polynomial SVC Model.
SVCParaClass2 = {
    'kernel': ['poly'],
    'degree':[2,3],
    'C':C,
    }

SVCClass = SVC()
AnxCalModel4 = GridSearchCV(SVCClass, SVCParaClass2)
AnxCalModel4.fit(X_Claset, A_Claset)

AModel_Acc4 = AnxCalModel4.score(X_HoldClaset, A_HoldClaset)
print(f'The Accuracy of the SVC Model is: {AModel_Acc4*100}%')
print(AnxCalModel4.best_params_)

AMod4Pred = AnxCalModel4.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod4Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod4Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(AnxCalModel4, X_HoldClaset, A_HoldClaset)
plt.show()

####History Gradient Boosting Classification Model

In [ ]:
HGBParaClass = {
    'loss':['log_loss', 'auto', 'binary_crossentropy', 'categorical_crossentropy'],
    'learning_rate':[0.1,0.3,0.5,0.7,0.9],
    'max_iter':[75,100,150,200],
    'max_depth':[2,5,7],
    'random_state':[randnum],
}

HGBClass = HistGradientBoostingClassifier()
AnxClassModel5 = GridSearchCV(HGBClass, HGBParaClass)
AnxClassModel5.fit(X_Claset, A_Claset)

AModel_Acc5 = AnxClassModel5.score(X_HoldClaset, A_HoldClaset)

print(f'The Accuracy of the HistGradientBoosting Model is: {AModel_Acc5*100}%')
print(AnxClassModel5.best_params_)

AMod5Pred = AnxClassModel5.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod5Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod5Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(AnxClassModel5, X_HoldClaset, A_HoldClaset)
plt.show()

####Nural Network Classification Model

In [ ]:
batch_size = 100
loss_function = sparse_categorical_crossentropy
no_classes = 5
no_epochs = 30
optimizer = Adam()
validation_split = 0.2
verbosity = 1

X_Train_Ten = np.asarray(X_Claset).astype(np.float32)
A_Train_Ten = np.asarray(A_Claset).astype(np.float32)
X_Test_Ten = np.asarray(X_HoldClaset).astype(np.float32)
A_Test_Ten = np.asarray(A_HoldClaset).astype(np.float32)


NNAnxClassMod = Sequential()
NNAnxClassMod.add(Dense(64, activation='relu',input_shape=(None,49)))
NNAnxClassMod.add(Dropout(0.2))
NNAnxClassMod.add(Dense(no_classes, activation='softmax'))

NNAnxClassMod.compile(loss=loss_function, optimizer=optimizer, metrics=['accuracy'])

history = NNAnxClassMod.fit(X_Train_Ten, A_Train_Ten, batch_size=batch_size, epochs=no_epochs, verbose=verbosity, validation_split=validation_split)

Ascore = NNAnxClassMod.evaluate(X_Test_Ten, A_Test_Ten, verbose=0)
print(f'The Accuracy of the Nural Network: {Ascore[1]*100}')

AMod6Pred = NNAnxClassMod.predict(X_HoldClaset)
print(classification_report(A_HoldClaset, AMod6Pred, target_names=AnxClassNames))

ConMax = confusion_matrix(A_HoldClaset, AMod6Pred, labels=AnxClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=AnxClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(NNAnxClassMod, X_HoldClaset, A_HoldClaset)
plt.show()

####Final Ensamble Methoid

Checks Which model has the greatest accuracy and throws it into an ensemble methoid to increase accuracy.

In [ ]:
ModelAccuracys = [AModel_Acc1, AModel_Acc2, AModel_Acc3, AModel_Acc4, AModel_Acc5, Ascore[1]]
BestMod = max(ModelAccuracys)

if BestMod == AModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestAnxClassParams = AnxCalModel1.best_params_

  AnxClaNei = BestAnxClassParams['n_neighbors']
  AnxClaAlg = BestAnxClassParams['algorithm']
  AnxClaWei = BestAnxClassParams['weights']

  FastAnxClassMod = KNeighborsClassifier(n_neighbors=AnxClaNei, algorithm=AnxClaAlg, weights=AnxClaWei, random_state=randnum)

  FinalAnxClaMod = BaggingClassifier(estimator=FastAnxClassMod, n_estimators=50, random_state=randnum)
  FinalAnxClaMod.fit(X_Claset, A_Claset)

  AClassMod_Acc = FinalAnxClaMod.score(X_HoldClaset, A_HoldClaset)
  print(f'The Accuracy of the KNeighbors Model is: {AClassMod_Acc*100}%')

elif BestMod == AModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {AModel_Acc2*100}%')

elif BestMod == AModel_Acc3:
  #The SVC is the best model.
  BestAnxClassParams = AnxCalModel3.best_params_

  AnxClaKer = BestAnxClassParams['kernel']
  AnxClaC = BestAnxClassParams['C']

  FastAnxClassMod = SVC(kernel=AnxClaKer, C=AnxClaC, random_state=randnum)

  FinalAnxClaMod = BaggingClassifier(estimator=FastAnxClassMod, n_estimators=50, random_state=randnum)
  FinalAnxClaMod.fit(X_Claset, A_Claset)

  AClassMod_Acc = FinalAnxClaMod.score(X_HoldClaset, A_HoldClaset)
  print(f'The Accuracy of the Non-Polynomial SVC Model is: {AClassMod_Acc*100}%')

elif BestMod == AModel_Acc4:
  #The SVC is the best model.
  BestAnxClassParams = AnxCalModel4.best_params_

  AnxClaKer = BestAnxClassParams['kernel']
  AnxClaDeg = BestAnxClassParams['degree']
  AnxClaC = BestAnxClassParams['C']

  FastAnxClassMod = SVC(kernel=AnxClaKer, degree=AnxClaDeg, C=AnxClaC, random_state=randnum)

  FinalAnxClaMod = BaggingClassifier(estimator=FastAnxClassMod, n_estimators=50, random_state=randnum)
  FinalAnxClaMod.fit(X_Claset, A_Claset)

  AClassMod_Acc = FinalAnxClaMod.score(X_HoldClaset, A_HoldClaset)
  print(f'The Accuracy of the Polynomial SVC Model is: {AClassMod_Acc*100}%')

elif BestMod == AModel_Acc5:
  #The HistGradientBoosting is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {AModel_Acc5*100}%')

elif BestMod == Ascore[1]:
  #The Nural Network is the best model.
  print(f'The Accuracy of the Nural Network Model is: {Ascore[1]*100}%')

###Stress Model

####Data Split for Stress

In [ ]:
S = Classdf[targets[2]]

X_Claset, X_HoldClaset, S_Claset, S_HoldClaset = train_test_split(X, S, test_size=Holdout_size)

####K Neighbors Classifier Model

In [ ]:
KNClassPara = {
    'n_neighbors': [15, 20, 100, 300], 
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'], 
    'weights': ['uniform', 'distance'],
    }
    
KNClass = KNeighborsClassifier()
StrsClassModel1 = GridSearchCV(KNClass, KNClassPara)
StrsClassModel1.fit(X_Claset, S_Claset)

SModel_Acc1 = StrsClassModel1.score(X_HoldClaset, S_HoldClaset)
print(f'The Accuracy of the KNClass Model is: {SModel_Acc1*100}%')
print(StrsClassModel1.best_params_)

SMod1Pred = StrsClassModel1.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod1Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod1Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(StrsClassModel1, X_HoldClaset, S_HoldClaset)
plt.show()

####Random Forest Model

In [ ]:
RandForClassPara = {
    'n_estimators': [100, 150, 200], 
    'criterion': ['gini', 'entropy', 'log_loss'], 
    'max_depth': [12,15,20], 
    'min_samples_split': [5,6,7,8], 
    'random_state':[randnum],
    }
    
RandForClass = RandomForestClassifier()
StrsClassModel2 = GridSearchCV(RandForClass, RandForClassPara)
StrsClassModel2.fit(X_Claset, S_Claset)

SModel_Acc2 = StrsClassModel2.score(X_HoldClaset, S_HoldClaset)
print(f'The Accuracy of the Random Forest Model is: {SModel_Acc2*100}%')
print(StrsClassModel2.best_params_)

SMod2Pred = StrsClassModel2.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod2Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod2Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(StrsClassModel2, X_HoldClaset, S_HoldClaset)
plt.show()

####SVC Models

In [ ]:
SVCClass = SVC(random_state=randnum)

In [ ]:
#Non-Polynomial SVC Model.
SVCParaClass1 = {
    'kernel': ['linear'],
    'C':C,
    }

StrsClassModel3 = GridSearchCV(SVCClass, SVCParaClass1)
StrsClassModel3.fit(X_Claset, S_Claset)

SModel_Acc3 = StrsClassModel3.score(X_HoldClaset, S_HoldClaset)
print(f'The Accuracy of the SVC Model is: {SModel_Acc3*100}%')
print(StrsClassModel3.best_params_)

SMod3Pred = StrsClassModel3.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod3Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod3Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(StrsClassModel3, X_HoldClaset, S_HoldClaset)
plt.show()

In [ ]:
#Polynomial SVC Model.
SVCParaClass2 = {
    'kernel': ['poly'],
    'degree':[2,3,4,5,6],
    'C':C,
    }

StrsClassModel4 = GridSearchCV(SVCClass, SVCParaClass2)
StrsClassModel4.fit(X_Claset, S_Claset)

SModel_Acc4 = StrsClassModel4.score(X_HoldClaset, S_HoldClaset)
print(f'The Accuracy of the SVC Model is: {SModel_Acc4*100}%')
print(StrsClassModel4.best_params_)

SMod4Pred = StrsClassModel4.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod4Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod4Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(StrsClassModel4, X_HoldClaset, S_HoldClaset)
plt.show()

####History Gradient Boosting Classification Model

In [ ]:
HGBParaClass = {
    'loss':['log_loss', 'auto', 'binary_crossentropy', 'categorical_crossentropy'],
    'learning_rate':[0.1,0.3,0.5,0.7,0.9],
    'max_iter':[75,100,150,200],
    'max_depth':[2,5,7],
    'random_state':[randnum],
}

HGBClass = HistGradientBoostingClassifier()
StsClassModel5 = GridSearchCV(HGBClass, HGBParaClass)
StsClassModel5.fit(X_Claset, S_Claset)

SModel_Acc5 = StsClassModel5.score(X_HoldClaset, S_HoldClaset)

print(f'The Accuracy of the HistGradientBoosting Model is: {SModel_Acc5*100}%')
print(StsClassModel5.best_params_)

SMod5Pred = StsClassModel5.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod5Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod5Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(StsClassModel5, X_HoldClaset, S_HoldClaset)
plt.show()

####Nural Network Classification Model

In [ ]:
batch_size = 100
loss_function = sparse_categorical_crossentropy
no_classes = 5
no_epochs = 30
optimizer = Adam()
validation_split = 0.2
verbosity = 1

X_Train_Ten = np.asarray(X_Claset).astype(np.float32)
S_Train_Ten = np.asarray(S_Claset).astype(np.float32)
X_Test_Ten = np.asarray(X_HoldClaset).astype(np.float32)
S_Test_Ten = np.asarray(S_HoldClaset).astype(np.float32)


NNStsClassMod = Sequential()
NNStsClassMod.add(Dense(32, activation='relu',input_shape=(None,49)))
NNStsClassMod.add(Dropout(0.2))
NNStsClassMod.add(Dense(no_classes, activation='softmax'))

NNStsClassMod.compile(loss=loss_function, optimizer=optimizer, metrics=['accuracy'])

history = NNStsClassMod.fit(X_Train_Ten, S_Train_Ten, batch_size=batch_size, epochs=no_epochs, verbose=verbosity, validation_split=validation_split)

Sscore = NNStsClassMod.evaluate(X_Test_Ten, S_Test_Ten, verbose=0)
print(f'The Accuracy of the Nural Network: {Sscore[1]*100}')

SMod6Pred = NNStsClassMod.predict(X_HoldClaset)
print(classification_report(S_HoldClaset, SMod6Pred, target_names=StsClassNames))

ConMax = confusion_matrix(S_HoldClaset, SMod6Pred, labels=StsClassNames)
disp = ConfusionMatrixDisplay(confusion_matrix=ConMax, display_labels=StsClassNames)
disp.plot()
plt.show()

RocCurveDisplay.from_estimator(NNStsClassMod, X_HoldClaset, S_HoldClaset)
plt.show()

####Final Ensemble Methoid

Checks Which model has the greatest accuracy and throws it into an ensemble methoid to increase accuracy.

In [ ]:
ModelAccuracys = [SModel_Acc1, SModel_Acc2, SModel_Acc3, SModel_Acc4, SModel_Acc5, Sscore[1]]
BestMod = max(ModelAccuracys)

if BestMod == SModel_Acc1:
  #The KNeighborsClassifier is the best model.
  BestStsClassParams = StrsClassModel1.best_params_

  StsClaNei = BestStsClassParams['n_neighbors']
  StsClaAlg = BestStsClassParams['algorithm']
  StsClaWei = BestStsClassParams['weights']

  FastStsClassMod = KNeighborsClassifier(n_neighbors=StsClaNei, algorithm=StsClaAlg, weights=StsClaWei, random_state=randnum)

  FinalStsClaMod = BaggingClassifier(estimator=FastStsClassMod, n_estimators=50, random_state=randnum)
  FinalStsClaMod.fit(X_Claset, S_Calset)

  SClassMod_Acc = FinalStsClaMod.score(X_HoldClaset, S_HoldClaset)
  print(f'The Accuracy of the KNeighbors Model is: {SClassMod_Acc*100}%')

elif BestMod == SModel_Acc2:
  #The Random Forest is the best model, but it's already an ensemble.
  print(f'The Accuracy of the Random Forest Model is: {SModel_Acc2*100}%')

elif BestMod == SModel_Acc3:
  #The SVC is the best model.
  BestStsClassParams = StrsClassModel3.best_params_

  StsClaKer = BestStsClassParams['kernel']
  StsClaC = BestStsClassParams['C']

  FastStsClassMod = SVC(kernel=StsClaKer, C=StsClaC, random_state=randnum)

  FinalStsClaMod = BaggingClassifier(estimator=FastStsClassMod, n_estimators=50, random_state=randnum)
  FinalStsClaMod.fit(X_Claset, S_Calset)

  SClassMod_Acc = FinalStsClaMod.score(X_HoldClaset, S_HoldClaset)
  print(f'The Accuracy of the Non-Polynomial SVC Model is: {SClassMod_Acc*100}%')

elif BestMod == SModel_Acc4:
  #The Polynomial SVC is the best model.
  BestStsClassParams = StrsClassModel4.best_params_

  StsClaKer = BestStsClassParams['kernel']
  StsClaDeg = BestStsClassParams['degree']
  StsClaC = BestStsClassParams['C']

  FastStsClassMod = SVC(kernel=StsClaKer, degree=StsClaDeg, C=StsClaC, random_state=randnum)

  FinalStsClaMod = BaggingClassifier(estimator=FastStsClassMod, n_estimators=50, random_state=randnum)
  FinalStsClaMod.fit(X_Claset, S_Calset)

  SClassMod_Acc = FinalStsClaMod.score(X_HoldClaset, S_HoldClaset)
  print(f'The Accuracy of the Polynomial SVC Model is: {SClassMod_Acc*100}%')

elif BestMod == SModel_Acc5:
  #The HisGradientBoosting is the best model, but it's already an ensemble.
  print(f'The Accuracy of the HistGradientBoosting Model is: {SModel_Acc5*100}%')

elif BestMod == Sscore[1]:
  #The MLP is the best model.
  print(f'The Accuracy of the MLP Model is: {Sscore[1]*100}%')

#Conclusion